In [1]:
import warnings
warnings.filterwarnings("ignore")
import ea_wrangle as w

import pandas as pd
import numpy as np

#splits
from sklearn.model_selection import train_test_split

#visualization
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns

#scaling
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.metrics import precision_score, accuracy_score, recall_score, classification_report

#model
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.linear_model import LogisticRegression

# Acquire

In [2]:
merged_data = w.left_join_csv('austin_animal_outcomes.csv', 'austin_animal_intakes.csv', 'merged_data.csv')

In [3]:
df = merged_data
df.head()

,Animal ID,Name_x,DateTime_x,MonthYear_x,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_x,Sex upon Outcome,Age upon Outcome,...,DateTime_y,MonthYear_y,Found Location,Intake Type,Intake Condition,Animal Type_y,Sex upon Intake,Age upon Intake,Breed_y,Color_y
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,...,05/02/2019 04:51:00 PM,May 2019,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,...,07/12/2018 12:46:00 PM,July 2018,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,...,08/16/2020 10:10:00 AM,August 2020,Armadillo Rd And Clubway Ln in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/08/2016 11:05:00 AM,February 2016,Dove Dr And E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/15/2016 10:37:00 AM,February 2016,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff

In [4]:
df = w.get_prep_aa(df)

In [5]:
df.columns

Index(['animal id', 'name', 'outcome', 'dob', 'intake_type', 'intake_datetime',
       'outcome_datetime', 'intake_condition', 'intake_age', 'outcome_age',
       'species', 'found_location', 'intake_sex', 'breed', 'color'],
      dtype='object')

In [6]:
df.head()

,animal id,name,outcome,dob,intake_type,intake_datetime,outcome_datetime,intake_condition,intake_age,outcome_age,species,found_location,intake_sex,breed,color
0,A794011,Chunk,Rto-Adopt,2017-05-02,Owner Surrender,2019-05-02 16:51:00,2019-05-08 18:20:00,Normal,2 years,2 years,Cat,Austin (TX),Neutered Male,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,Adoption,2017-07-12,Stray,2018-07-12 12:46:00,2018-07-18 16:02:00,Normal,1 year,1 year,Dog,7201 Levander Loop in Austin (TX),Intact Male,Chihuahua Shorthair Mix,White/Brown
3,A720371,Moose,Adoption,2015-10-08,Stray,2016-02-08 11:05:00,2016-02-13 17:59:00,Normal,4 months,4 months,Dog,Dove Dr And E Stassney in Austin (TX),Intact Male,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,Adoption,2015-10-08,Owner Surrender,2016-02-15 10:37:00,2016-02-13 17:59:00,Normal,4 months,4 months,Dog,Austin (TX),Neutered Male,Anatol Shepherd/Labrador Retriever,Buff
5,A674754,NaN,Transfer,2014-03-12,Stray,2014-03-18 07:11:00,2014-03-18 11:47:00,Nursing,6 days,6 days,Cat,12034 Research in Austin (TX),Intact Male,Domestic Shorthair Mix,Orange Tabby

In [7]:
df.head()

,animal id,name,outcome,dob,intake_type,intake_datetime,outcome_datetime,intake_condition,intake_age,outcome_age,species,found_location,intake_sex,breed,color
0,A794011,Chunk,Rto-Adopt,2017-05-02,Owner Surrender,2019-05-02 16:51:00,2019-05-08 18:20:00,Normal,2 years,2 years,Cat,Austin (TX),Neutered Male,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,Adoption,2017-07-12,Stray,2018-07-12 12:46:00,2018-07-18 16:02:00,Normal,1 year,1 year,Dog,7201 Levander Loop in Austin (TX),Intact Male,Chihuahua Shorthair Mix,White/Brown
3,A720371,Moose,Adoption,2015-10-08,Stray,2016-02-08 11:05:00,2016-02-13 17:59:00,Normal,4 months,4 months,Dog,Dove Dr And E Stassney in Austin (TX),Intact Male,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,Adoption,2015-10-08,Owner Surrender,2016-02-15 10:37:00,2016-02-13 17:59:00,Normal,4 months,4 months,Dog,Austin (TX),Neutered Male,Anatol Shepherd/Labrador Retriever,Buff
5,A674754,NaN,Transfer,2014-03-12,Stray,2014-03-18 07:11:00,2014-03-18 11:47:00,Nursing,6 days,6 days,Cat,12034 Research in Austin (TX),Intact Male,Domestic Shorthair Mix,Orange Tabby

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187436 entries, 0 to 197203
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal id         187436 non-null  object
 1   name              149741 non-null  object
 2   outcome           187401 non-null  object
 3   dob               187436 non-null  datetime64[ns]
 4   intake_type       187436 non-null  object
 5   intake_datetime   187436 non-null  datetime64[ns]
 6   outcome_datetime  187436 non-null  datetime64[ns]
 7   intake_condition  187436 non-null  object
 8   intake_age        187435 non-null  object
 9   outcome_age       187430 non-null  object
 10  species           187436 non-null  object
 11  found_location    187436 non-null  object
 12  intake_sex        187434 non-null  object
 13  breed             187436 non-null  object
 14  color             187436 non-null  object
dtypes: datetime64[ns](3), object(12)
memory usage: 22.9+ MB

# Prepare

In [9]:
df.columns

Index(['animal id', 'name', 'outcome', 'dob', 'intake_type', 'intake_datetime',
       'outcome_datetime', 'intake_condition', 'intake_age', 'outcome_age',
       'species', 'found_location', 'intake_sex', 'breed', 'color'],
      dtype='object')

In [10]:
df['intake_date'] = df['intake_datetime'].dt.date

In [14]:
df['outcome_date'] = df['outcome_datetime'].dt.date

In [16]:
df['outcome_date'] = pd.to_datetime(df['outcome_date'])
df['intake_date'] = pd.to_datetime(df['intake_date'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187436 entries, 0 to 197203
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal id         187436 non-null  object
 1   name              149741 non-null  object
 2   outcome           187401 non-null  object
 3   dob               187436 non-null  datetime64[ns]
 4   intake_type       187436 non-null  object
 5   intake_datetime   187436 non-null  datetime64[ns]
 6   outcome_datetime  187436 non-null  datetime64[ns]
 7   intake_condition  187436 non-null  object
 8   intake_age        187435 non-null  object
 9   outcome_age       187430 non-null  object
 10  species           187436 non-null  object
 11  found_location    187436 non-null  object
 12  intake_sex        187434 non-null  object
 13  breed             187436 non-null  object
 14  color             187436 non-null  object
 15  intake_date       187436 non-null  datetime64[ns]
 16  outcome_date      187436 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(12)
memory usage: 25.7+ MB

# Question and Hypothesis Statement

# Conclusion

# Question and Hypothesis Statement

# Conclusion

# Question and Hypothesis Statement

# Conclusion