In [1]:
import warnings
warnings.filterwarnings("ignore")
import ea_wrangle as w

import pandas as pd
import numpy as np

#splits
from sklearn.model_selection import train_test_split

#visualization
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns

#scaling
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.metrics import precision_score, accuracy_score, recall_score, classification_report

#model
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.linear_model import LogisticRegression

# Acquire

In [2]:
merged_data = w.left_join_csv('austin_animal_outcomes.csv', 'austin_animal_intakes.csv', 'merged_data.csv')

In [15]:
merged_data

,animal id,name_x,datetime_x,monthyear_x,date of birth,outcome type,outcome subtype,animal type_x,sex upon outcome,age upon outcome,...,datetime_y,monthyear_y,found location,intake type,intake condition,animal type_y,sex upon intake,age upon intake,breed_y,color_y
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,...,05/02/2019 04:51:00 PM,May 2019,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,...,07/12/2018 12:46:00 PM,July 2018,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,...,08/16/2020 10:10:00 AM,August 2020,Armadillo Rd And Clubway Ln in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/08/2016 11:05:00 AM,February 2016,Dove Dr And E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/15/2016 10:37:00 AM,February 2016,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197199,A884455,NaN,07/10/2023 07:52:00 AM,Jul 2023,07/03/2021,Transfer,Snr,Cat,Unknown,2 years,...,07/03/2023 11:55:00 AM,July 2023,8104 Taza Trail in Austin (TX),Stray,Normal,Cat,Unknown,2 years,Domestic Shorthair,Orange Tabby
197200,A884621,NaN,07/06/2023 06:53:00 PM,Jul 2023,07/06/2021,Transfer,Partner,Dog,Intact Male,2 years,...,07/06/2023 07:05:00 AM,July 2023,Rundberg And Ih 35 in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Pit Bull,Fawn/White
197201,A884354,NaN,07/10/2023 07:51:00 AM,Jul 2023,07/01/2020,Transfer,Snr,Cat,Intact Male,3 years,...,07/01/2023 04:06:00 PM,July 2023,1710 E Oltorf Rd Apt 814 in Austin (TX),Stray,Normal,Cat,Intact Male,3 years,Domestic Shorthair,Cream Tabby
197202,A878160,Lady,07/10/2023 10:54:00 AM,Jul 2023,04/07/2021,Transfer,Partner,Dog,Intact Female,2 years,...,04/07/2023 03:11:00 PM,April 2023,4500 East William Cannon in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Siberian Husky Mix,Gray/Black
197203,A878160,Lady,07/10/2023 10:54:00 AM,Jul 2023,04/07/2021,Transfer,Partner,Dog,Intact Female,2 years,...,06/15/2023 08:19:00 AM,June 2023,2025 W Ben White Boulevard in Austin (TX),Stray,Sick,Dog,Intact Female,2 years,Siberian Husky Mix,Gray/Black

In [16]:
df = merged_data
df.head()

,animal id,name_x,datetime_x,monthyear_x,date of birth,outcome type,outcome subtype,animal type_x,sex upon outcome,age upon outcome,...,datetime_y,monthyear_y,found location,intake type,intake condition,animal type_y,sex upon intake,age upon intake,breed_y,color_y
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,...,05/02/2019 04:51:00 PM,May 2019,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,...,07/12/2018 12:46:00 PM,July 2018,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,...,08/16/2020 10:10:00 AM,August 2020,Armadillo Rd And Clubway Ln in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/08/2016 11:05:00 AM,February 2016,Dove Dr And E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/15/2016 10:37:00 AM,February 2016,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff

In [17]:
df, model_df = w.get_prep_aa(df)

In [18]:
df.head()

,has_name,outcome,dob,species,intake_type,intake_condition,intake_date,outcome_date,intake_age,outcome_age,tenure_days,intake_sex,breed,mix_breeds,two_breeds,pure_breed,primary_color,is_tabby,mix_color
0,1,rto-adopt,2017-05-02,cat,owner surrender,normal,2019-05-02,2019-05-08,730.0,736,6.0,neutered male,domestic shorthair mix,1,0,0,brown,1,1
1,1,adoption,2017-07-12,dog,stray,normal,2018-07-12,2018-07-18,365.0,371,6.0,intact male,chihuahua shorthair mix,1,0,0,white,0,1
3,1,adoption,2015-10-08,dog,stray,normal,2016-02-08,2016-02-13,123.0,128,5.0,intact male,anatol shepherd/labrador retriever,0,1,0,buff,0,0
6,1,adoption,2013-03-24,dog,owner surrender,normal,2018-06-13,2020-10-05,1907.0,2752,845.0,spayed female,chihuahua shorthair mix,1,0,0,brown,0,0
8,1,adoption,2018-03-01,dog,owner surrender,normal,2020-03-01,2020-05-06,731.0,797,66.0,neutered male,american foxhound/labrador retriever,0,1,0,white,0,1

In [19]:
model_df.head()

,has_name,intake_age,outcome_age,tenure_days,mix_breeds,two_breeds,pure_breed,is_tabby,mix_color,outcome_euthanasia,...,primary_color_gray,primary_color_lilac point,primary_color_lynx point,primary_color_orange,primary_color_red,primary_color_sable,primary_color_seal point,primary_color_tan,primary_color_tricolor,primary_color_white
0,1,730.0,736,6.0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,365.0,371,6.0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,1,123.0,128,5.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,1907.0,2752,845.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,731.0,797,66.0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

df['intake_datetime'].dt.date

df['breed'][df['breed'].str.contains('mix', case=False)]

In [ ]:
df.head(10)

In [ ]:
df.info()

# Prepare

pull date form

In [ ]:
#make intake and outcome datetimes into just the dates, make intake and outcome ages without times

In [ ]:
df.info()

df['mix_breeds'] = df['breed'][df['breed'].str.contains('mix', case=False)]

df['two_breeds'] = df['breed'][df['breed'].str.contains('/', case=False)]

In [ ]:
df.head()

In [ ]:
#df['pure_breed'] = df['breed'][df['breed'].str.contains('mix|/', case=False)]

df['breed'].fillna('', inplace=True)

df['pure_bred'] = df[df['breed'].astype(str).str.contains('mix|/', case=False) == False].breed

In [ ]:
counts = df['breed'].value_counts()

mask = df['breed'].isin(counts[counts > 200].index)

df = df[mask]

In [ ]:
df.breed.value_counts()

df['mix_dummy'] = np.where(df['breed'].str.contains('mix', case=False, na=False), 1, 0)
df['two_breeds'] = np.where(df['breed'].str.contains('/', case=False, na=False), 1, 0)
df['pure_bred'] = np.where(df['breed'].isin(['/', 'mix']), 1, 0)

In [ ]:
df.head(20)

df['pure_bred'] = np.where(df['breed'].isin(['/', 'mix']), 1, 0)

In [ ]:
df.head(20)

In [ ]:
df.shape

# Question and Hypothesis Statement

# Conclusion

# Question and Hypothesis Statement

# Conclusion

# Question and Hypothesis Statement

# Conclusion