In [1]:
import warnings
warnings.filterwarnings("ignore")
import wrangle as w

import pandas as pd
import numpy as np

#splits
from sklearn.model_selection import train_test_split

#visualization
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns

#scaling
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.metrics import precision_score, accuracy_score, recall_score, classification_report

#model
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.linear_model import LogisticRegression

# Acquire

In [2]:
merged_data = w.left_join_csv('austin_animal_outcomes.csv', 'austin_animal_intakes.csv', 'merged_data.csv')

In [3]:
merged_data

,Animal ID,Name_x,DateTime_x,MonthYear_x,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_x,Sex upon Outcome,Age upon Outcome,...,DateTime_y,MonthYear_y,Found Location,Intake Type,Intake Condition,Animal Type_y,Sex upon Intake,Age upon Intake,Breed_y,Color_y
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,...,05/02/2019 04:51:00 PM,May 2019,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,...,07/12/2018 12:46:00 PM,July 2018,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,...,08/16/2020 10:10:00 AM,August 2020,Armadillo Rd And Clubway Ln in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/08/2016 11:05:00 AM,February 2016,Dove Dr And E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/15/2016 10:37:00 AM,February 2016,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197199,A884455,NaN,07/10/2023 07:52:00 AM,Jul 2023,07/03/2021,Transfer,Snr,Cat,Unknown,2 years,...,07/03/2023 11:55:00 AM,July 2023,8104 Taza Trail in Austin (TX),Stray,Normal,Cat,Unknown,2 years,Domestic Shorthair,Orange Tabby
197200,A884621,NaN,07/06/2023 06:53:00 PM,Jul 2023,07/06/2021,Transfer,Partner,Dog,Intact Male,2 years,...,07/06/2023 07:05:00 AM,July 2023,Rundberg And Ih 35 in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Pit Bull,Fawn/White
197201,A884354,NaN,07/10/2023 07:51:00 AM,Jul 2023,07/01/2020,Transfer,Snr,Cat,Intact Male,3 years,...,07/01/2023 04:06:00 PM,July 2023,1710 E Oltorf Rd Apt 814 in Austin (TX),Stray,Normal,Cat,Intact Male,3 years,Domestic Shorthair,Cream Tabby
197202,A878160,Lady,07/10/2023 10:54:00 AM,Jul 2023,04/07/2021,Transfer,Partner,Dog,Intact Female,2 years,...,04/07/2023 03:11:00 PM,April 2023,4500 East William Cannon in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Siberian Husky Mix,Gray/Black
197203,A878160,Lady,07/10/2023 10:54:00 AM,Jul 2023,04/07/2021,Transfer,Partner,Dog,Intact Female,2 years,...,06/15/2023 08:19:00 AM,June 2023,2025 W Ben White Boulevard in Austin (TX),Stray,Sick,Dog,Intact Female,2 years,Siberian Husky Mix,Gray/Black

In [4]:
df = merged_data
df.head()

,Animal ID,Name_x,DateTime_x,MonthYear_x,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_x,Sex upon Outcome,Age upon Outcome,...,DateTime_y,MonthYear_y,Found Location,Intake Type,Intake Condition,Animal Type_y,Sex upon Intake,Age upon Intake,Breed_y,Color_y
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,...,05/02/2019 04:51:00 PM,May 2019,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,...,07/12/2018 12:46:00 PM,July 2018,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,...,08/16/2020 10:10:00 AM,August 2020,Armadillo Rd And Clubway Ln in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/08/2016 11:05:00 AM,February 2016,Dove Dr And E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/15/2016 10:37:00 AM,February 2016,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff

In [5]:
df, model_df = w.get_prep_aa(df)

In [6]:
df.head()

,has_name,outcome,dob,age_category,species,intake_type,intake_condition,intake_date,outcome_date,intake_age,outcome_age,tenure_days,intake_sex,breed,mix_breeds,two_breeds,pure_breed,primary_color,is_tabby,mix_color
0,1,rto-adopt,2017-05-02,adult,cat,owner surrender,normal,2019-05-02,2019-05-08,730.0,736,6.0,neutered male,domestic shorthair mix,1,0,0,brown,1,1
1,1,adoption,2017-07-12,puppy,dog,stray,normal,2018-07-12,2018-07-18,365.0,371,6.0,intact male,chihuahua shorthair mix,1,0,0,white,0,1
3,1,adoption,2015-10-08,puppy,dog,stray,normal,2016-02-08,2016-02-13,123.0,128,5.0,intact male,anatol shepherd/labrador retriever,0,1,0,buff,0,0
6,1,adoption,2013-03-24,adult,dog,owner surrender,normal,2018-06-13,2020-10-05,1907.0,2752,845.0,spayed female,chihuahua shorthair mix,1,0,0,brown,0,0
8,1,adoption,2018-03-01,adult,dog,owner surrender,normal,2020-03-01,2020-05-06,731.0,797,66.0,neutered male,american foxhound/labrador retriever,0,1,0,white,0,1

In [7]:
model_df.head()

,has_name,intake_age,outcome_age,tenure_days,mix_breeds,two_breeds,pure_breed,is_tabby,mix_color,outcome_euthanasia,...,primary_color_lynx point,primary_color_orange,primary_color_red,primary_color_sable,primary_color_seal point,primary_color_tan,primary_color_tricolor,primary_color_white,age_category_puppy,age_category_senior
0,1,730.0,736,6.0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,365.0,371,6.0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
3,1,123.0,128,5.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,1907.0,2752,845.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,731.0,797,66.0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
model_df.shape

(144627, 42)

df['intake_datetime'].dt.date

df['breed'][df['breed'].str.contains('mix', case=False)]

In [9]:
df.head(10)

,has_name,outcome,dob,age_category,species,intake_type,intake_condition,intake_date,outcome_date,intake_age,outcome_age,tenure_days,intake_sex,breed,mix_breeds,two_breeds,pure_breed,primary_color,is_tabby,mix_color
0,1,rto-adopt,2017-05-02,adult,cat,owner surrender,normal,2019-05-02,2019-05-08,730.0,736,6.0,neutered male,domestic shorthair mix,1,0,0,brown,1,1
1,1,adoption,2017-07-12,puppy,dog,stray,normal,2018-07-12,2018-07-18,365.0,371,6.0,intact male,chihuahua shorthair mix,1,0,0,white,0,1
3,1,adoption,2015-10-08,puppy,dog,stray,normal,2016-02-08,2016-02-13,123.0,128,5.0,intact male,anatol shepherd/labrador retriever,0,1,0,buff,0,0
6,1,adoption,2013-03-24,adult,dog,owner surrender,normal,2018-06-13,2020-10-05,1907.0,2752,845.0,spayed female,chihuahua shorthair mix,1,0,0,brown,0,0
8,1,adoption,2018-03-01,adult,dog,owner surrender,normal,2020-03-01,2020-05-06,731.0,797,66.0,neutered male,american foxhound/labrador retriever,0,1,0,white,0,1
9,1,adoption,2022-05-04,puppy,cat,stray,normal,2022-06-23,2022-07-19,50.0,76,26.0,intact male,domestic shorthair,0,0,0,brown,1,0
10,1,adoption,2014-08-01,puppy,cat,stray,normal,2014-10-08,2014-10-18,68.0,78,10.0,intact male,domestic shorthair mix,1,0,0,black,0,0
11,1,adoption,2014-06-03,puppy,cat,stray,medical attention,2014-06-10,2014-08-05,7.0,63,56.0,intact male,domestic shorthair mix,1,0,0,white,1,1
12,1,adoption,2019-08-06,adult,dog,stray,normal,2021-08-06,2021-08-19,731.0,744,13.0,spayed female,border collie/cardigan welsh corgi,0,1,0,black,0,1
13,0,transfer,2012-07-26,adult,cat,stray,normal,2014-07-26,2014-07-27,730.0,731,1.0,intact female,domestic shorthair mix,1,0,0,black,0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144627 entries, 0 to 197203
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   has_name          144627 non-null  int64
 1   outcome           144627 non-null  object
 2   dob               144627 non-null  object
 3   age_category      144627 non-null  object
 4   species           144627 non-null  object
 5   intake_type       144627 non-null  object
 6   intake_condition  144627 non-null  object
 7   intake_date       144627 non-null  object
 8   outcome_date      144627 non-null  object
 9   intake_age        144627 non-null  object
 10  outcome_age       144627 non-null  int64
 11  tenure_days       144627 non-null  object
 12  intake_sex        144627 non-null  object
 13  breed             144627 non-null  object
 14  mix_breeds        144627 non-null  int64
 15  two_breeds        144627 non-null  int64
 16  pure_breed        144627 non-null  int64
 17  primary_color     144627 non-null  object
 18  is_tabby          144627 non-null  object
 19  mix_color         144627 non-null  object
dtypes: int64(5), object(15)
memory usage: 23.2+ MB

# Prepare

pull date form

In [11]:
#make intake and outcome datetimes into just the dates, make intake and outcome ages without times

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144627 entries, 0 to 197203
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   has_name          144627 non-null  int64
 1   outcome           144627 non-null  object
 2   dob               144627 non-null  object
 3   age_category      144627 non-null  object
 4   species           144627 non-null  object
 5   intake_type       144627 non-null  object
 6   intake_condition  144627 non-null  object
 7   intake_date       144627 non-null  object
 8   outcome_date      144627 non-null  object
 9   intake_age        144627 non-null  object
 10  outcome_age       144627 non-null  int64
 11  tenure_days       144627 non-null  object
 12  intake_sex        144627 non-null  object
 13  breed             144627 non-null  object
 14  mix_breeds        144627 non-null  int64
 15  two_breeds        144627 non-null  int64
 16  pure_breed        144627 non-null  int64
 17  primary_color     144627 non-null  object
 18  is_tabby          144627 non-null  object
 19  mix_color         144627 non-null  object
dtypes: int64(5), object(15)
memory usage: 23.2+ MB

df['mix_breeds'] = df['breed'][df['breed'].str.contains('mix', case=False)]

df['two_breeds'] = df['breed'][df['breed'].str.contains('/', case=False)]

In [13]:
df.head()

,has_name,outcome,dob,age_category,species,intake_type,intake_condition,intake_date,outcome_date,intake_age,outcome_age,tenure_days,intake_sex,breed,mix_breeds,two_breeds,pure_breed,primary_color,is_tabby,mix_color
0,1,rto-adopt,2017-05-02,adult,cat,owner surrender,normal,2019-05-02,2019-05-08,730.0,736,6.0,neutered male,domestic shorthair mix,1,0,0,brown,1,1
1,1,adoption,2017-07-12,puppy,dog,stray,normal,2018-07-12,2018-07-18,365.0,371,6.0,intact male,chihuahua shorthair mix,1,0,0,white,0,1
3,1,adoption,2015-10-08,puppy,dog,stray,normal,2016-02-08,2016-02-13,123.0,128,5.0,intact male,anatol shepherd/labrador retriever,0,1,0,buff,0,0
6,1,adoption,2013-03-24,adult,dog,owner surrender,normal,2018-06-13,2020-10-05,1907.0,2752,845.0,spayed female,chihuahua shorthair mix,1,0,0,brown,0,0
8,1,adoption,2018-03-01,adult,dog,owner surrender,normal,2020-03-01,2020-05-06,731.0,797,66.0,neutered male,american foxhound/labrador retriever,0,1,0,white,0,1

In [14]:
#df['pure_breed'] = df['breed'][df['breed'].str.contains('mix|/', case=False)]

df['breed'].fillna('', inplace=True)

df['pure_bred'] = df[df['breed'].astype(str).str.contains('mix|/', case=False) == False].breed

In [15]:
counts = df['breed'].value_counts()

mask = df['breed'].isin(counts[counts > 200].index)

df = df[mask]

In [16]:
df.breed.value_counts()

domestic shorthair mix                  28010
domestic shorthair                      12890
pit bull mix                            11774
labrador retriever mix                   8858
chihuahua shorthair mix                  6818
                                        ...
black mouth cur/plott hound                 1
chihuahua longhair/queensland heeler        1
scottish terrier/basset hound               1
beagle/treeing walker coonhound             1
catahoula/black/tan hound                   1
Name: breed, Length: 2547, dtype: int64

df['mix_dummy'] = np.where(df['breed'].str.contains('mix', case=False, na=False), 1, 0)
df['two_breeds'] = np.where(df['breed'].str.contains('/', case=False, na=False), 1, 0)
df['pure_bred'] = np.where(df['breed'].isin(['/', 'mix']), 1, 0)

In [17]:
df.head(20)

,has_name,outcome,dob,age_category,species,intake_type,intake_condition,intake_date,outcome_date,intake_age,outcome_age,tenure_days,intake_sex,breed,mix_breeds,two_breeds,pure_breed,primary_color,is_tabby,mix_color
0,1,rto-adopt,2017-05-02,adult,cat,owner surrender,normal,2019-05-02,2019-05-08,730.0,736,6.0,neutered male,domestic shorthair mix,1,0,0,brown,1,1
1,1,adoption,2017-07-12,puppy,dog,stray,normal,2018-07-12,2018-07-18,365.0,371,6.0,intact male,chihuahua shorthair mix,1,0,0,white,0,1
3,1,adoption,2015-10-08,puppy,dog,stray,normal,2016-02-08,2016-02-13,123.0,128,5.0,intact male,anatol shepherd/labrador retriever,0,1,0,buff,0,0
6,1,adoption,2013-03-24,adult,dog,owner surrender,normal,2018-06-13,2020-10-05,1907.0,2752,845.0,spayed female,chihuahua shorthair mix,1,0,0,brown,0,0
8,1,adoption,2018-03-01,adult,dog,owner surrender,normal,2020-03-01,2020-05-06,731.0,797,66.0,neutered male,american foxhound/labrador retriever,0,1,0,white,0,1
9,1,adoption,2022-05-04,puppy,cat,stray,normal,2022-06-23,2022-07-19,50.0,76,26.0,intact male,domestic shorthair,0,0,0,brown,1,0
10,1,adoption,2014-08-01,puppy,cat,stray,normal,2014-10-08,2014-10-18,68.0,78,10.0,intact male,domestic shorthair mix,1,0,0,black,0,0
11,1,adoption,2014-06-03,puppy,cat,stray,medical attention,2014-06-10,2014-08-05,7.0,63,56.0,intact male,domestic shorthair mix,1,0,0,white,1,1
12,1,adoption,2019-08-06,adult,dog,stray,normal,2021-08-06,2021-08-19,731.0,744,13.0,spayed female,border collie/cardigan welsh corgi,0,1,0,black,0,1
13,0,transfer,2012-07-26,adult,cat,stray,normal,2014-07-26,2014-07-27,730.0,731,1.0,intact female,domestic shorthair mix,1,0,0,black,0,0
14,1,return to owner,2010-01-20,adult,cat,stray,normal,2017-01-20,2017-01-22,2557.0,2559,2.0,neutered male,domestic shorthair mix,1,0,0,gray,0,1
18,1,transfer,2019-09-29,adult,dog,owner surrender,normal,2021-09-29,2021-10-08,731.0,740,9.0,intact female,chihuahua shorthair mix,1,0,0,black,0,1
20,1,transfer,2019-08-08,puppy,cat,stray,normal,2019-08-28,2019-08-31,20.0,23,3.0,intact male,domestic shorthair,0,0,0,brown,1,0
23,1,transfer,2014-06-05,puppy,cat,owner surrender,normal,2015-03-05,2015-03-16,273.0,284,11.0,spayed female,domestic medium hair mix,1,0,0,black,0,1
25,1,adoption,2014-04-20,adult,cat,owner surrender,normal,2021-12-20,2022-01-07,2801.0,2819,18.0,spayed female,domestic shorthair mix,1,0,0,orange,1,0
26,1,adoption,2010-09-15,senior,cat,public assist,normal,2020-09-11,2022-01-24,3649.0,4149,500.0,spayed female,domestic shorthair,0,0,0,tricolor,0,1
28,1,adoption,2021-11-09,puppy,dog,stray,normal,2022-05-09,2022-05-20,181.0,192,11.0,intact male,black mouth cur mix,1,0,0,brown,0,1
32,1,adoption,2016-05-18,puppy,cat,stray,normal,2016-07-07,2016-09-10,50.0,115,65.0,intact female,domestic shorthair mix,1,0,0,tricolor,0,1
33,1,adoption,2009-01-18,senior,dog,owner surrender,normal,2018-04-11,2018-06-08,3370.0,3428,58.0,neutered male,chihuahua shorthair mix,1,0,0,tricolor,0,1
34,1,adoption,2009-01-18,senior,dog,stray,normal,2018-01-18,2018-06-08,3287.0,3428,141.0,intact male,chihuahua shorthair mix,1,0,0,tricolor,0,1

df['pure_bred'] = np.where(df['breed'].isin(['/', 'mix']), 1, 0)

In [18]:
train, validate, test = w.split_data(df, 'outcome')

train -> (86775, 20), 60.0%
validate -> (28926, 20),20.0%
test -> (28926, 20), 20.0%

In [19]:
model_df.columns

Index(['has_name', 'intake_age', 'outcome_age', 'tenure_days', 'mix_breeds',
       'two_breeds', 'pure_breed', 'is_tabby', 'mix_color',
       'outcome_euthanasia', 'outcome_return to owner', 'outcome_rto-adopt',
       'outcome_transfer', 'species_dog', 'intake_type_owner surrender',
       'intake_type_public assist', 'intake_type_stray',
       'intake_condition_injured', 'intake_condition_medical attention',
       'intake_condition_mental', 'intake_condition_normal',
       'intake_condition_sick', 'intake_sex_intact male',
       'intake_sex_neutered male', 'intake_sex_spayed female',
       'primary_color_black', 'primary_color_brown', 'primary_color_buff',
       'primary_color_fawn', 'primary_color_gold', 'primary_color_gray',
       'primary_color_lilac point', 'primary_color_lynx point',
       'primary_color_orange', 'primary_color_red', 'primary_color_sable',
       'primary_color_seal point', 'primary_color_tan',
       'primary_color_tricolor', 'primary_color_white', 'age_category_puppy',
       'age_category_senior'],
      dtype='object')

# Question and Hypothesis Statement

Does age affect outcome?

In [21]:
df.dtypes

has_name             int64
outcome             object
dob                 object
age_category        object
species             object
intake_type         object
intake_condition    object
intake_date         object
outcome_date        object
intake_age          object
outcome_age          int64
tenure_days         object
intake_sex          object
breed               object
mix_breeds           int64
two_breeds           int64
pure_breed           int64
primary_color       object
is_tabby            object
mix_color           object
dtype: object

# Conclusion

# Question and Hypothesis Statement

# Conclusion

# Question and Hypothesis Statement

# Conclusion