In [1]:
import warnings
warnings.filterwarnings("ignore")
import ea_wrangle as w

import pandas as pd
import numpy as np

#splits
from sklearn.model_selection import train_test_split

#visualization
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns

#scaling
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.metrics import precision_score, accuracy_score, recall_score, classification_report

#model
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.linear_model import LogisticRegression

# Acquire

In [2]:
merged_data = w.left_join_csv('austin_animal_outcomes.csv', 'austin_animal_intakes.csv', 'merged_data.csv')

In [3]:
merged_data

,Animal ID,Name_x,DateTime_x,MonthYear_x,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_x,Sex upon Outcome,Age upon Outcome,...,DateTime_y,MonthYear_y,Found Location,Intake Type,Intake Condition,Animal Type_y,Sex upon Intake,Age upon Intake,Breed_y,Color_y
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,...,05/02/2019 04:51:00 PM,May 2019,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,...,07/12/2018 12:46:00 PM,July 2018,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,...,08/16/2020 10:10:00 AM,August 2020,Armadillo Rd And Clubway Ln in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/08/2016 11:05:00 AM,February 2016,Dove Dr And E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/15/2016 10:37:00 AM,February 2016,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197199,A884455,NaN,07/10/2023 07:52:00 AM,Jul 2023,07/03/2021,Transfer,Snr,Cat,Unknown,2 years,...,07/03/2023 11:55:00 AM,July 2023,8104 Taza Trail in Austin (TX),Stray,Normal,Cat,Unknown,2 years,Domestic Shorthair,Orange Tabby
197200,A884621,NaN,07/06/2023 06:53:00 PM,Jul 2023,07/06/2021,Transfer,Partner,Dog,Intact Male,2 years,...,07/06/2023 07:05:00 AM,July 2023,Rundberg And Ih 35 in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Pit Bull,Fawn/White
197201,A884354,NaN,07/10/2023 07:51:00 AM,Jul 2023,07/01/2020,Transfer,Snr,Cat,Intact Male,3 years,...,07/01/2023 04:06:00 PM,July 2023,1710 E Oltorf Rd Apt 814 in Austin (TX),Stray,Normal,Cat,Intact Male,3 years,Domestic Shorthair,Cream Tabby
197202,A878160,Lady,07/10/2023 10:54:00 AM,Jul 2023,04/07/2021,Transfer,Partner,Dog,Intact Female,2 years,...,04/07/2023 03:11:00 PM,April 2023,4500 East William Cannon in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Siberian Husky Mix,Gray/Black
197203,A878160,Lady,07/10/2023 10:54:00 AM,Jul 2023,04/07/2021,Transfer,Partner,Dog,Intact Female,2 years,...,06/15/2023 08:19:00 AM,June 2023,2025 W Ben White Boulevard in Austin (TX),Stray,Sick,Dog,Intact Female,2 years,Siberian Husky Mix,Gray/Black

In [4]:
df = merged_data
df.head()

,Animal ID,Name_x,DateTime_x,MonthYear_x,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_x,Sex upon Outcome,Age upon Outcome,...,DateTime_y,MonthYear_y,Found Location,Intake Type,Intake Condition,Animal Type_y,Sex upon Intake,Age upon Intake,Breed_y,Color_y
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,...,05/02/2019 04:51:00 PM,May 2019,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,...,07/12/2018 12:46:00 PM,July 2018,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,...,08/16/2020 10:10:00 AM,August 2020,Armadillo Rd And Clubway Ln in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/08/2016 11:05:00 AM,February 2016,Dove Dr And E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/15/2016 10:37:00 AM,February 2016,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff

In [5]:
df = w.get_prep_aa(df)

In [6]:
df.columns

Index(['name', 'outcome', 'dob', 'intake_type', 'intake_datetime',
       'outcome_datetime', 'intake_condition', 'intake_age', 'outcome_age',
       'species', 'intake_sex', 'breed', 'color'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185610 entries, 0 to 197203
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              185610 non-null  object
 1   outcome           185610 non-null  object
 2   dob               185610 non-null  datetime64[ns]
 3   intake_type       185610 non-null  object
 4   intake_datetime   185610 non-null  datetime64[ns]
 5   outcome_datetime  185610 non-null  datetime64[ns]
 6   intake_condition  185610 non-null  object
 7   intake_age        185610 non-null  int64
 8   outcome_age       185610 non-null  int64
 9   species           185610 non-null  object
 10  intake_sex        185610 non-null  object
 11  breed             185610 non-null  object
 12  color             185610 non-null  object
dtypes: datetime64[ns](3), int64(2), object(8)
memory usage: 19.8+ MB

In [8]:
df['intake_datetime'].dt.date

0         2019-05-02
1         2018-07-12
3         2016-02-08
4         2016-02-15
5         2014-03-18
             ...
197199    2023-07-03
197200    2023-07-06
197201    2023-07-01
197202    2023-04-07
197203    2023-06-15
Name: intake_datetime, Length: 185610, dtype: object

In [9]:
df['breed'][df['breed'].str.contains('mix', case=False)]

0          domestic shorthair mix
1         chihuahua shorthair mix
5          domestic shorthair mix
6         chihuahua shorthair mix
7         chihuahua shorthair mix
                   ...
197193       miniature poodle mix
197194              dachshund mix
197195     domestic shorthair mix
197202         siberian husky mix
197203         siberian husky mix
Name: breed, Length: 126115, dtype: object

In [10]:
df.head(10)

,name,outcome,dob,intake_type,intake_datetime,outcome_datetime,intake_condition,intake_age,outcome_age,species,intake_sex,breed,color
0,chunk,rto-adopt,2017-05-02,owner surrender,2019-05-02 16:51:00,2019-05-08 18:20:00,normal,24,24,cat,neutered male,domestic shorthair mix,brown tabby/white
1,gizmo,adoption,2017-07-12,stray,2018-07-12 12:46:00,2018-07-18 16:02:00,normal,12,12,dog,intact male,chihuahua shorthair mix,white/brown
3,moose,adoption,2015-10-08,stray,2016-02-08 11:05:00,2016-02-13 17:59:00,normal,4,4,dog,intact male,anatol shepherd/labrador retriever,buff
4,moose,adoption,2015-10-08,owner surrender,2016-02-15 10:37:00,2016-02-13 17:59:00,normal,4,4,dog,neutered male,anatol shepherd/labrador retriever,buff
5,nan,transfer,2014-03-12,stray,2014-03-18 07:11:00,2014-03-18 11:47:00,nursing,0,0,cat,intact male,domestic shorthair mix,orange tabby
6,princess,adoption,2013-03-24,owner surrender,2018-06-13 12:55:00,2020-10-05 14:37:00,normal,63,91,dog,spayed female,chihuahua shorthair mix,brown
7,princess,adoption,2013-03-24,owner surrender,2020-10-05 11:20:00,2020-10-05 14:37:00,normal,91,91,dog,spayed female,chihuahua shorthair mix,brown
8,quentin,adoption,2018-03-01,owner surrender,2020-03-01 14:19:00,2020-05-06 07:59:00,normal,24,26,dog,neutered male,american foxhound/labrador retriever,white/brown
9,*lalo,adoption,2022-05-04,stray,2022-06-23 15:09:00,2022-07-19 15:53:00,normal,1,2,cat,intact male,domestic shorthair,brown tabby
10,*donatello,adoption,2014-08-01,stray,2014-10-08 16:39:00,2014-10-18 18:52:00,normal,2,2,cat,intact male,domestic shorthair mix,black

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185610 entries, 0 to 197203
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              185610 non-null  object
 1   outcome           185610 non-null  object
 2   dob               185610 non-null  datetime64[ns]
 3   intake_type       185610 non-null  object
 4   intake_datetime   185610 non-null  datetime64[ns]
 5   outcome_datetime  185610 non-null  datetime64[ns]
 6   intake_condition  185610 non-null  object
 7   intake_age        185610 non-null  int64
 8   outcome_age       185610 non-null  int64
 9   species           185610 non-null  object
 10  intake_sex        185610 non-null  object
 11  breed             185610 non-null  object
 12  color             185610 non-null  object
dtypes: datetime64[ns](3), int64(2), object(8)
memory usage: 19.8+ MB

# Prepare

pull date form

In [12]:
#make intake and outcome datetimes into just the dates, make intake and outcome ages without times

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185610 entries, 0 to 197203
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              185610 non-null  object
 1   outcome           185610 non-null  object
 2   dob               185610 non-null  datetime64[ns]
 3   intake_type       185610 non-null  object
 4   intake_datetime   185610 non-null  datetime64[ns]
 5   outcome_datetime  185610 non-null  datetime64[ns]
 6   intake_condition  185610 non-null  object
 7   intake_age        185610 non-null  int64
 8   outcome_age       185610 non-null  int64
 9   species           185610 non-null  object
 10  intake_sex        185610 non-null  object
 11  breed             185610 non-null  object
 12  color             185610 non-null  object
dtypes: datetime64[ns](3), int64(2), object(8)
memory usage: 19.8+ MB

df['mix_breeds'] = df['breed'][df['breed'].str.contains('mix', case=False)]

df['two_breeds'] = df['breed'][df['breed'].str.contains('/', case=False)]

In [14]:
df.head()

,name,outcome,dob,intake_type,intake_datetime,outcome_datetime,intake_condition,intake_age,outcome_age,species,intake_sex,breed,color
0,chunk,rto-adopt,2017-05-02,owner surrender,2019-05-02 16:51:00,2019-05-08 18:20:00,normal,24,24,cat,neutered male,domestic shorthair mix,brown tabby/white
1,gizmo,adoption,2017-07-12,stray,2018-07-12 12:46:00,2018-07-18 16:02:00,normal,12,12,dog,intact male,chihuahua shorthair mix,white/brown
3,moose,adoption,2015-10-08,stray,2016-02-08 11:05:00,2016-02-13 17:59:00,normal,4,4,dog,intact male,anatol shepherd/labrador retriever,buff
4,moose,adoption,2015-10-08,owner surrender,2016-02-15 10:37:00,2016-02-13 17:59:00,normal,4,4,dog,neutered male,anatol shepherd/labrador retriever,buff
5,nan,transfer,2014-03-12,stray,2014-03-18 07:11:00,2014-03-18 11:47:00,nursing,0,0,cat,intact male,domestic shorthair mix,orange tabby

In [15]:
#df['pure_breed'] = df['breed'][df['breed'].str.contains('mix|/', case=False)]

df['breed'].fillna('', inplace=True)

df['pure_bred'] = df[df['breed'].astype(str).str.contains('mix|/', case=False) == False].breed

In [16]:
counts = df['breed'].value_counts()

In [17]:
mask = df['breed'].isin(counts[counts > 200].index)

In [18]:
df = df[mask]

In [19]:
df.breed.value_counts()

domestic shorthair mix               36272
pit bull mix                         16196
domestic shorthair                   15894
labrador retriever mix               11621
chihuahua shorthair mix               8267
                                     ...
border collie                          209
cairn terrier                          208
pomeranian mix                         205
alaskan husky mix                      204
labrador retriever/great pyrenees      201
Name: breed, Length: 84, dtype: int64

In [20]:
df['mix_dummy'] = np.where(df['breed'].str.contains('mix', case=False, na=False), 1, 0)
df['two_breeds'] = np.where(df['breed'].str.contains('/', case=False, na=False), 1, 0)
df['pure_bred'] = np.where(df['breed'].isin(['/', 'mix']), 1, 0)

In [21]:
df.head(20)

,name,outcome,dob,intake_type,intake_datetime,outcome_datetime,intake_condition,intake_age,outcome_age,species,intake_sex,breed,color,mix_dummy,two_breeds
0,chunk,rto-adopt,2017-05-02,owner surrender,2019-05-02 16:51:00,2019-05-08 18:20:00,normal,24,24,cat,neutered male,domestic shorthair mix,brown tabby/white,1,0
1,gizmo,adoption,2017-07-12,stray,2018-07-12 12:46:00,2018-07-18 16:02:00,normal,12,12,dog,intact male,chihuahua shorthair mix,white/brown,1,0
5,nan,transfer,2014-03-12,stray,2014-03-18 07:11:00,2014-03-18 11:47:00,nursing,0,0,cat,intact male,domestic shorthair mix,orange tabby,1,0
6,princess,adoption,2013-03-24,owner surrender,2018-06-13 12:55:00,2020-10-05 14:37:00,normal,63,91,dog,spayed female,chihuahua shorthair mix,brown,1,0
7,princess,adoption,2013-03-24,owner surrender,2020-10-05 11:20:00,2020-10-05 14:37:00,normal,91,91,dog,spayed female,chihuahua shorthair mix,brown,1,0
9,*lalo,adoption,2022-05-04,stray,2022-06-23 15:09:00,2022-07-19 15:53:00,normal,1,2,cat,intact male,domestic shorthair,brown tabby,0,0
10,*donatello,adoption,2014-08-01,stray,2014-10-08 16:39:00,2014-10-18 18:52:00,normal,2,2,cat,intact male,domestic shorthair mix,black,1,0
11,*zeus,adoption,2014-06-03,stray,2014-06-10 17:53:00,2014-08-05 16:59:00,nursing,0,2,cat,intact male,domestic shorthair mix,white/orange tabby,1,0
13,nan,transfer,2012-07-26,stray,2014-07-26 11:34:00,2014-07-27 09:00:00,normal,24,24,cat,intact female,domestic shorthair mix,black,1,0
14,artemis,return to owner,2010-01-20,stray,2017-01-20 12:28:00,2017-01-22 11:56:00,normal,85,85,cat,neutered male,domestic shorthair mix,blue/white,1,0
15,fiona,return to owner,2018-06-01,stray,2020-06-01 09:23:00,2020-06-01 13:24:00,normal,24,24,dog,intact female,pit bull,white/blue,0,0
16,fiona,return to owner,2018-06-01,stray,2020-09-26 18:37:00,2020-06-01 13:24:00,normal,28,24,dog,intact female,pit bull,white/blue,0,0
17,fiona,return to owner,2018-06-01,stray,2021-07-12 09:18:00,2020-06-01 13:24:00,normal,37,24,dog,intact female,pit bull,white/blue,0,0
18,*mary,transfer,2019-09-29,owner surrender,2021-09-29 14:23:00,2021-10-08 13:25:00,normal,24,24,dog,intact female,chihuahua shorthair mix,black/white,1,0
19,nan,transfer,2014-06-09,stray,2014-06-11 15:46:00,2014-06-11 17:11:00,normal,0,0,cat,intact male,domestic shorthair mix,brown tabby,1,0
20,*birch,transfer,2019-08-08,stray,2019-08-28 11:05:00,2019-08-31 16:26:00,normal,0,0,cat,intact male,domestic shorthair,brown tabby,0,0
21,gypsy,return to owner,2010-10-01,stray,2022-08-18 16:23:00,2022-08-18 18:07:00,normal,144,144,dog,spayed female,labrador retriever mix,red/white,1,0
22,luigi,transfer,2014-06-05,public assist,2015-03-16 18:48:00,2015-03-16 14:50:00,normal,9,9,cat,spayed female,domestic medium hair mix,black/white,1,0
23,luigi,transfer,2014-06-05,owner surrender,2015-03-05 13:01:00,2015-03-16 14:50:00,normal,9,9,cat,spayed female,domestic medium hair mix,black/white,1,0
24,nan,euthanasia,2018-05-05,stray,2018-06-05 14:55:00,2018-06-05 15:30:00,normal,1,1,cat,intact male,domestic shorthair mix,orange tabby,1,0

In [22]:
df['pure_bred'] = np.where(df['breed'].isin(['/', 'mix']), 1, 0)

In [23]:
df.head(20)

,name,outcome,dob,intake_type,intake_datetime,outcome_datetime,intake_condition,intake_age,outcome_age,species,intake_sex,breed,color,mix_dummy,two_breeds,pure_bred
0,chunk,rto-adopt,2017-05-02,owner surrender,2019-05-02 16:51:00,2019-05-08 18:20:00,normal,24,24,cat,neutered male,domestic shorthair mix,brown tabby/white,1,0,0
1,gizmo,adoption,2017-07-12,stray,2018-07-12 12:46:00,2018-07-18 16:02:00,normal,12,12,dog,intact male,chihuahua shorthair mix,white/brown,1,0,0
5,nan,transfer,2014-03-12,stray,2014-03-18 07:11:00,2014-03-18 11:47:00,nursing,0,0,cat,intact male,domestic shorthair mix,orange tabby,1,0,0
6,princess,adoption,2013-03-24,owner surrender,2018-06-13 12:55:00,2020-10-05 14:37:00,normal,63,91,dog,spayed female,chihuahua shorthair mix,brown,1,0,0
7,princess,adoption,2013-03-24,owner surrender,2020-10-05 11:20:00,2020-10-05 14:37:00,normal,91,91,dog,spayed female,chihuahua shorthair mix,brown,1,0,0
9,*lalo,adoption,2022-05-04,stray,2022-06-23 15:09:00,2022-07-19 15:53:00,normal,1,2,cat,intact male,domestic shorthair,brown tabby,0,0,0
10,*donatello,adoption,2014-08-01,stray,2014-10-08 16:39:00,2014-10-18 18:52:00,normal,2,2,cat,intact male,domestic shorthair mix,black,1,0,0
11,*zeus,adoption,2014-06-03,stray,2014-06-10 17:53:00,2014-08-05 16:59:00,nursing,0,2,cat,intact male,domestic shorthair mix,white/orange tabby,1,0,0
13,nan,transfer,2012-07-26,stray,2014-07-26 11:34:00,2014-07-27 09:00:00,normal,24,24,cat,intact female,domestic shorthair mix,black,1,0,0
14,artemis,return to owner,2010-01-20,stray,2017-01-20 12:28:00,2017-01-22 11:56:00,normal,85,85,cat,neutered male,domestic shorthair mix,blue/white,1,0,0
15,fiona,return to owner,2018-06-01,stray,2020-06-01 09:23:00,2020-06-01 13:24:00,normal,24,24,dog,intact female,pit bull,white/blue,0,0,0
16,fiona,return to owner,2018-06-01,stray,2020-09-26 18:37:00,2020-06-01 13:24:00,normal,28,24,dog,intact female,pit bull,white/blue,0,0,0
17,fiona,return to owner,2018-06-01,stray,2021-07-12 09:18:00,2020-06-01 13:24:00,normal,37,24,dog,intact female,pit bull,white/blue,0,0,0
18,*mary,transfer,2019-09-29,owner surrender,2021-09-29 14:23:00,2021-10-08 13:25:00,normal,24,24,dog,intact female,chihuahua shorthair mix,black/white,1,0,0
19,nan,transfer,2014-06-09,stray,2014-06-11 15:46:00,2014-06-11 17:11:00,normal,0,0,cat,intact male,domestic shorthair mix,brown tabby,1,0,0
20,*birch,transfer,2019-08-08,stray,2019-08-28 11:05:00,2019-08-31 16:26:00,normal,0,0,cat,intact male,domestic shorthair,brown tabby,0,0,0
21,gypsy,return to owner,2010-10-01,stray,2022-08-18 16:23:00,2022-08-18 18:07:00,normal,144,144,dog,spayed female,labrador retriever mix,red/white,1,0,0
22,luigi,transfer,2014-06-05,public assist,2015-03-16 18:48:00,2015-03-16 14:50:00,normal,9,9,cat,spayed female,domestic medium hair mix,black/white,1,0,0
23,luigi,transfer,2014-06-05,owner surrender,2015-03-05 13:01:00,2015-03-16 14:50:00,normal,9,9,cat,spayed female,domestic medium hair mix,black/white,1,0,0
24,nan,euthanasia,2018-05-05,stray,2018-06-05 14:55:00,2018-06-05 15:30:00,normal,1,1,cat,intact male,domestic shorthair mix,orange tabby,1,0,0

0    154462
Name: pure_bred, dtype: int64

# Question and Hypothesis Statement

# Conclusion

# Question and Hypothesis Statement

# Conclusion

# Question and Hypothesis Statement

# Conclusion